<%= render partial: "partials/merchant_header" %>
<%= render partial: "partials/title_header", locals: {
    title: "Bulk Discounts Index Page"
    }
%>

<h3><%= link_to 'Create Bulk Discount', new_merchant_bulk_discount_path(@merchant) %></h3>

<ul class='mr-auto col-sm-4'>
  <% @bulk_discounts.each do |bulk_discount| %>
    <section id="bulk_discount-<%= bulk_discount.id %>">
      <li><%= link_to bulk_discount.name, merchant_bulk_discount_path(bulk_discount.merchant, bulk_discount) %>
        <ul>
          <li><%= bulk_discount.discount %>% off</li>
          <li><%= bulk_discount.quantity %> or more items</li>
          <li><%= button_to 'Delete Bulk Discount', merchant_bulk_discount_path(@merchant, bulk_discount), method: :delete %>
        </ul>
      </li>
    </section>
  <% end %>
</ul>