<%= render partial: "partials/merchant_header" %>
<div class="row">
  <p class='mr-auto col-sm-5'>Create Bulk Discount</p>
</div>

<%= form_with model: [@merchant, @bulk_discount], local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :discount %>
  <%= f.text_field :discount %>

  <%= f.label :quantity %>
  <%= f.text_field :quantity %>

  <%= f.submit 'Create Bulk Discount' %> 
<% end %>