<%= render partial: "partials/merchant_header" %>
<%= render partial: "partials/title_header", locals: {
    title: "Bulk Discount Show Page"
    }
%>

<h3><%= @bulk_discount.name %></h3>
<p>Discount: <%= @bulk_discount.discount %>% off</p>
<p>Quantity: <%= @bulk_discount.quantity %> or more items</p>